.lang-switch{
	text-align: center;
	border: 2px solid grey;
	width: 35%;
	margin: 0 auto;
	float:left;
	cursor: pointer;
}

.lang-switch:hover{
	background-color: black;
	color: white;
}

.social h1 {
	margin: 1.5em auto;
}


.card {
background-color: #def7fc;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);
border: none;
margin-top: 20px;
}
.card-title {
	height: 20px;
}
.card-body {
	display: flex;
}
.card-logo {
	width: 30%;
}

.card-logo img{
	width: 100%;
}

.card-content {
	margin-left: 1rem;
}

.card-activity {
	color: gray;
	font-size: 13px;
}

.card-comment {
	font-size: 14px;
	overflow-wrap: unset;
} 