body {
	font-family: 'SFThin';
}

h1, h4 {
	font-family: 'SFBold';
	margin-top: 1em;
}

.col-md-4 a {
	 color: black;
	 text-decoration: none;
}

.lang {
	padding: 0;
}

.lang-switch {
	text-align: center;
	border: 2px solid grey;
	width: 35%;
	margin: 0 auto;
	float:left;
	cursor: pointer;
}

.lang-switch.ru {
	border-radius: 20px 0 0 20px;
}

.lang-switch.en {
	border-radius: 0 20px 20px 0;
}

.lang-switch:hover {
	background-color:#bbbbbb;
	color: white;
}

.social h1 {
	margin: 1.5em auto;
	margin-bottom: 0.5em;
}


.card {
	background-color: rgba(242,242,242,0.7);
	border: none;
	margin-top: 20px;
	transition: 500ms;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);
	height: 160px;
}

@media (min-width: 769px) and (max-width: 1200px) {
	.col-md-4 {
		min-width: 50%;
		flex : 0 0 50%;
	}
}

.card a {
	color: black;
}

.card:hover {
	box-shadow: 25px 15px 2px 2px rgba(0, 0, 0, 0.40);
}


.card-title {
	height: 40px;
	background-color:rgba(215,215,215,1);
	padding: 0.5em 0.5em;
}
.card-body {
	display: flex;
	padding: 0.5em;
	padding-top: 0;
}
.card-logo {
	display: block;
	width: 100px;
	height: 100px;
}

.card-logo img {
	width: inherit;
	height: inherit;
}

.card-content {
	margin-left: 0.5rem;
	padding-right: 0.2rem;
}

.card-activity {
	color: gray;
	font-size: 13px;
}

.card-comment {
	font-size: 13px;
	line-height: 1.5;
	height: 4.5em;
	overflow: hidden;
} 

@media (max-width: 420px) {
	.card-comment {
		height: 3em;
	}
}

.footer {
	width: 100%;
	height: 150px;
	background-color: #0003;
	margin-top: 5em;
	font-size: 14px;
}

.authors {
	padding-top: 2em;
	
}

.authors {
	list-style: none;
	padding-left: 0;
}



.footer a {
	color: black;
}

@font-face {
	font-family: 'SFBold';
	src: url('./fonts/sm SFNSDisplay-Bold.ttf');
}

@font-face {
	font-family: 'SFThin';
	src: url('./fonts/SF-UI/SF-UI-Display-Regular.otf');
}